@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../components/boardSlider/BoardSlideStyle.css";
@import "../components/footer/footer.css";
@import "../components/header/headerStyle.css";

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
@layer base {
  * {
    line-height: unset;
    direction: ltr;
    @apply p-0 m-0 box-border outline-0 no-underline list-none border-0 border-transparent duration-300;
  }

  body {
    @apply w-full h-full !bg-primeryColor flex flex-col justify-center items-start !overflow-x-hidden;
  }

  main {
    @apply w-full h-full flex flex-col justify-start items-start overflow-x-hidden;
  }

  ::-webkit-scrollbar {
    @apply w-1;
  }

  ::-webkit-scrollbar-track {
    @apply bg-primeryColor;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-textColor/15 rounded-xl;
  }
  /* .classButton {
    @apply h-8 px-5 text-textColor hover:text-primeryColor font-medium text-base ring-1 ring-textColor hover:ring-0 ring-offset-0 bg-textColor/10 hover:bg-secondeColor backdrop-blur-xl hover:backdrop-blur-0 flex justify-center items-center rounded-full duration-300;
  } */

  .btn {
    @apply !btn-outline capitalize !px-5 hover:!text-primeryColor !bg-textColor/10 hover:!bg-secondeColor !backdrop-blur-xl hover:!backdrop-blur-0 !rounded-full duration-300;
  }

  .btn > svg {
    @apply size-4;
  }

  .dropdown-content {
    @apply !bg-primeryColor/85 !backdrop-blur-xl !rounded-xl;
  }

  .skeleton {
    @apply rounded-xl;
  }
}
