@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../components/trending/trendingStyle.css";
@import "../components/boardSlider/BoardSlideStyle.css";
@import "../components/footer/footer.css";

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
@layer base {
  * {
    line-height: unset;
    direction: ltr;
    @apply p-0 m-0 box-border outline-0 no-underline list-none border-0 border-transparent;
  }

  body {
    @apply w-screen h-full bg-primeryColor flex flex-col justify-center items-start overflow-x-hidden;
  }

  main {
    @apply w-screen flex flex-col justify-start items-start overflow-x-hidden;
  }

  ::-webkit-scrollbar {
    @apply w-1;
  }

  ::-webkit-scrollbar-track {
    @apply bg-primeryColor;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-textColor/15 rounded-xl;
  }

  .classButton {
    @apply px-6 py-1.5 text-textColor text-sm font-medium bg-textColor/20 backdrop-blur-lg ring-1 ring-textColor/50 ring-offset-0 rounded-full;
  }
}
